.hero-home-container {
  background-image: url(/images/hero-homepage.png);
  background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  padding: 5em 2em;
  margin-top: 0;
  font-family: $font-style-1;
}