.hero-home-container {
  * {
    box-sizing: border-box;
  }

  display: flex;
  justify-content: flex-end;
  background-image: url(/images/home-assets/hero-homepage.png);
  background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  padding: 3em 0;
  margin-top: 0;
  font-family: $font-style-1;

  .content-wrapper {
    width: 93.5%;
    padding-right: 3em;


    .top-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8.5em;

      ul.menu-wrapper {
        list-style: none;

        li {
          display: inline-block;

          a {
            color: $dark-slate-blue;
            font-weight: bold;

            &:hover {
              text-decoration: none;
            }
          }
        }

        li.spacing-item {
          min-width: 2em;
        }

      }
    }

    .hero-content {
      max-width: 55%;

      .hero-title {
        color: $dark-slate-blue;
        font-weight: 900;
        font-size: 3rem;
      }

      .hero-subtitle {
        color: $greyish-brown-four;
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 3em;
        margin-bottom: 6em;
        line-height: 25px;
      }

      p {
        color: $greyish-brown-four;
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 1em;
      }

      .hero-button-wrapper {
        margin-bottom: 3em;

        a {
          margin-right: 1em;
        }
      }

      a.link-hubungi-kami {
        color: $dark-grey-blue;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}