.register-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(112, 112, 112, .37);
  backdrop-filter: blur(5px);
  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: white;
    border-radius: 7px;
    padding: 32px 5rem 2rem;

    text-align: center;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    .close-icon {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 12px;
      margin-right: 19px;
      padding: 3px;
      cursor: pointer;
      border-radius: 100%;

      &:hover {
        color: red;
        // filter: opacity(.2);
      }
    }

    .register-form-header {
      width: 300px;
      margin-right: auto;

      h4 {
        color: $black-three;
        font-size: 1.33rem;
        font-weight: 600;
        text-align: left;
        margin-bottom: 5px;
      }

      p.subtitle {
        margin-bottom: 1.75rem;
        font-size: 11px;
        font-weight: 500;
        text-align: left;
      }
    }

    .text-input-modal-container {
      margin-bottom: 1.475rem;
    }

    .button.MuiButton-root {
      margin-top: 4.1em;
    }

    form p {
      display: block;
      margin-top: 1.1em;

      a.link-login {
        color: $dark-slate-blue;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}